//
//  Secrets.xcconfig
//  SpeechSplendid
//
//  Created by Neel Kondapalli on 10/23/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
API_KEY = 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
BANNER1_ID = ca-app-pub-5052501540496059/3618278478
BANNER2_ID = ca-app-pub-5052501540496059/5780123528
TEST_ID = ca-app-pub-3940256099942544/2934735716
